.body{
    background: #7cbcf7;
}
.score-table {
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-collapse: separate;
    border-spacing: 20px;}
td {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}